<%# <%= form_for Stock.new do |f|%>
    <%# <%= f.text_field :name %>
    <%# <%= f.text_field :ticker %>
    <%# <%= f.submit %>
<%# <% end %>


<h2 class="text-white">Adding New Company</h2>

<%= render "stocks/form" %>
 
<%= link_to "Back", stocks_path%>