<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2 class="text-white"> Finance Geeks <h2>
    <h2 class="text-white"> <%="session:#{@number}"%><h2>
    <%= link_to "new user", new_user_path %>
    Hello <%= current_user_name %>!
    <%= yield %>
  </body>
</html>
